body {
    color: white;
    background: midnightblue;
    margin: 1px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

    header { 
    border-bottom: solid 5px rgb(79, 116, 194);
    padding: 20px;
    font-size: 25px;
    color: rgb(79, 116, 194);
 }

 .chamada { 
    background: rgb(11, 37, 68);
    padding-bottom: 35px;
    padding-top: 35px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
 }

 h1 {
    font-size: 35px;
 }

 p {
    font-size: 16px;
 }

   .categoria-videos {
      display: flex;
      overflow-x: auto;
      gap: 10px;
   }

   .categoria {
      padding-left: 20px;
      padding-right: 20px;
   }

.categoria-videos img {
   opacity: 0.5;
   height: 210px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 5px solid white;
}

.categoria h2 {
   color: rgb(79, 116, 194);
}
